<div class="donacion-flotante" id="donacion-componente">
    <!-- Contenedor flotante para el botón de donación con ID único -->

    <a href="realizar_donativos" title="Ir a la página de donaciones">
        <!-- Enlace al formulario de donaciones con título descriptivo -->

        <button class="donacion-flotante-boton" aria-label="Abrir panel de donaciones">
            <!-- Botón de donación con clase específica y etiqueta ARIA -->

            <span class="fas fa-heart donacion-flotante-icono" aria-hidden="true"></span>Donar Ahora
            <!-- Ícono de corazón con clase específica y texto del botón -->
        </button>
    </a>
</div>


<!-- Componente de flecha de scroll -->
<div class="scroll-arrow" id="scroll-arrow-componente">
      <!-- Enlace para ir hacia arriba -->
      <a href="/" class="arrow" title="Ir arriba" aria-label="Ir arriba">
        <!-- Icono de flecha hacia arriba -->
        <i class="far fa-arrow-alt-circle-up" aria-hidden="true"></i>
      </a>
</div>
  
  