<div class="swiper" id="swiper-componente" aria-label="Banner con imágenes y videos de la Fundación Jaimes Chía">
    <!-- Contenedor de la Swiper -->
    <div class="swiper-wrapper">
        <!-- Slides -->

        <!-- Slide 1: Video -->
        <div class="swiper-slide" aria-label="Video de niños jugando con pelotas">
            <video autoplay loop muted preload="metadata" aria-label="Video de niños jugando con pelotas">
                <source src="assets/images/Inicio/Niños_Jugando_Pelotas.webm" type="video/webm">
                <!-- También puedes proporcionar un archivo MP4 como alternativa -->
                <source src="assets/images/Inicio/Niños_Jugando_Pelotas.mp4" type="video/mp4">
                Tu navegador no soporta el elemento de video.
            </video>
        </div>      

        <!-- Slide 2: Imagen con texto -->
        <div class="swiper-slide" aria-label="Celebremos 8 años de compromiso y solidaridad comunitaria.">
            <img src="assets\images\Inicio\aniversario_8.webp" alt="Imagen de celebración de los 8 años de la Fundación Jaimes Chía" class="kenburns-top"
                loading="lazy" />
            <div class="slide-text">
                <h2>Celebremos 8 años de compromiso y solidaridad comunitaria.</h2>
                <p>Ocho años llenos de momentos inolvidables, aprendizajes y sobre todo, un impacto positivo en cada vida que tocamos. ¡Gracias por hacerlo posible!</p>
            </div>
        </div>

        <!-- Slide 3: Imagen con texto -->
        <div class="swiper-slide" aria-label="Transformando Vidas, Construyendo Sueños">
            <img src="assets/images/Inicio/Slider_2.webp" alt="Imagen de celebración social y comunitaria de la Fundación Jaimes Chía" class="kenburns-top"
                loading="lazy" />
            <div class="slide-text">
                <h2>Transformando Vidas, Construyendo Sueños</h2>
                <p>Cada paso que damos juntos es un paso hacia un futuro más brillante. Gracias por ser parte de este viaje de impacto.</p>
            </div>
        </div>

        <!-- Slide 4: Imagen con texto -->
        <div class="swiper-slide" aria-label="Trabajando Unidos, Creciendo Juntos">
            <img src="assets/images/Inicio/Slider_3.webp" alt="Imagen del equipo de trabajo de la Fundación Jaimes Chía" class="kenburns-top"
                loading="lazy" />
            <div class="slide-text">
                <h2>Trabajando Unidos, Creciendo Juntos</h2>
                <p>Cada integrante de nuestro equipo aporta su experiencia y compromiso para alcanzar nuestros objetivos comunes.</p>
            </div>
        </div>

        <!-- Slide 5: Imagen con texto -->
        <div class="swiper-slide" aria-label="Risas que Transforman Vidas">
            <img src="assets/images/Inicio/Slider_4.webp" alt="Imagen de niños jugando en actividad desarrollada por la Fundación Jaimes Chía"
                class="kenburns-top" loading="lazy" />
            <div class="slide-text">
                <h2>Risas que Transforman Vidas</h2>
                <p>En la magia de cada risa, encontramos el poder de cambiar el mundo. Descubre cómo impactamos positivamente en la infancia.</p>
            </div>
        </div>

        <!-- Slide 6: Imagen con texto -->
        <div class="swiper-slide" aria-label="Trabajo en Equipo, Logros Comunitarios">
            <img src="/assets/images/Inicio/Slider_5.webp" alt="Imagen de las instalaciones de la Fundación Jaimes Chía" class="kenburns-top"
                loading="lazy" />
            <div class="slide-text">
                <h2>Trabajo en Equipo, Logros Comunitarios</h2>
                <p>Aquí es donde se gestan nuestras iniciativas para construir un futuro más justo y equitativo. </p>
            </div>
        </div>
    </div>

    <!-- Paginación del banner -->
    <div class="swiper-pagination" aria-label="Paginación del banner"></div>

    <!-- Botones de navegación -->
    <button class="swiper-button-prev" aria-label="Botón anterior" title="Anterior"></button>
    <button class="swiper-button-next" aria-label="Botón siguiente" title="Siguiente"></button>

    <!-- Barra de desplazamiento -->
    <div class="swiper-scrollbar" aria-label="Barra de desplazamiento del banner"></div>
</div>